* {
    font-family: Sans-serif;
}

body {
    background-color: #2f3a56;
    display: flex;
    justify-content: center;
}

div {
    background-color: rgba(226, 237, 240, 0.7);
    border-radius: 10px;
    width: 55%;
    margin-top: 30px;
    margin-bottom: 30px;
}

main {
    margin-top: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

a {
    display: inline;   
}

a:link {
    color: #232e49;
    text-decoration: none;
}

a:hover {
    color: #232e49;;
    text-decoration: underline;
}

a:active {
    color: #6b1daa;
    text-decoration: underline;
}

a:visited {
    color: #6b1daa;
    text-decoration: none;
}

h1, h2, h3 {
    color: #232e49;  
} 

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

h2 {
    margin-left: 20px;
}

h3 {
    margin-left: 25px;
}

p, ol, ul {
    margin-left: 30px;
    margin-right: 30px;
    color: #1e2942;
}

figcaption {
    color: #121b31
}

hr {
    border-top: 5px dotted #ffffff;
    border-bottom: none;
}

ul.nav {
    list-style: none;
}

a.navigation {
    display: inline;
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin: 20px 40px;
}
